<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297253896340-2rt9s2aduakfekb6074fjc0eecjruccm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297253896340-2rt9s2aduakfekb6074fjc0eecjruccm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297253896340-2uc45o3hop76gdmr1bknhv395sesjd1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxcPlJdrCjF1m6KmuQ81LzKZcs3E3SSN0</string>
	<key>GCM_SENDER_ID</key>
	<string>297253896340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.magendayarim</string>
	<key>PROJECT_ID</key>
	<string>tenant-shield-9a14c</string>
	<key>STORAGE_BUCKET</key>
	<string>tenant-shield-9a14c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297253896340:ios:b8b12257f87a3507737481</string>
</dict>
</plist>

